h1{
    color:darkblue;
    font-family: 'Permanent Marker', cursive;
    margin: 2rem 0rem;
}
body{
    background: linear-gradient(red, blue);
    height: 100vh;
    color: white;
}
h2 span{
    font-size: 3.5rem;
    font-weight: 500;
}
